@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: lightgrey;
   

}
h1,h2,h3,h4,h5,h6,p,span,ul,li,a,div{
    margin: 0;
    padding: 0;
    
}
div{
    background-color: white;
    /* font-size: 34px; */
    
}
.container{
    background-color: lightgrey;
    padding: 12px;
    display: flex;
    justify-content: center;

}

/* left section starts here */
.left{
   min-width: 300px;
    height:auto;   
}
.left .blog-section span{
    border-bottom: 2px solid #18d26e;
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin-right: 8px;
    margin-right: 5px;
    padding: 0;
}
.left .blog-section h3{
    font-size: 24px;
    font-weight: 600;
}

.left .blog-section {
    padding: 24px;
}
.left .blog-section ul{
    list-style-type: none;
    color: black;
    margin-top: 15px;
    font-size: 26px;
    font-weight: 400;
} 
.left .blog-section li{
    margin-top: 10px;
    font-size: 26px;
  font-weight:400;
}

.left .community-section {
    padding: 24px;
}

.left .community-section ul{
    list-style-type: none;
    color: black;
    font-size: 26px;
    font-weight: 400;
}
.left .community-section ul{
    list-style-type: none;
    color: black;
    margin-top: 15px;
    font-size: 26px;
    font-weight: 400;
} 
.left .community-section li{
    margin-top: 10px;
    font-size: 26px;
  font-weight:400;
}
.left .community-section span{
    border-bottom: 2px solid #18d26e;
    color: black;
    font-size: 24px;
    font-weight: 600;

}
.left .community-section h3{
    font-size: 24px;
    font-weight: 600;
}
.dash{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #18d26e;
    color: white;
    font-size: 34 px;
    font-weight: 700;
}
/* right section starts here  */
.right{
    min-width: 300px;
    padding: 14px;
    height: auto;
    border-radius: 10px;
    
}
.right .small-block{
    padding: 12px 12px 12px 12px;

}
.right .right-info.small-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .small-block h4{
    font-size: 34px;
    font-weight: 500;
    
}
.right .small-block p{
   color: gray;
   font-size: 34px;
   font-weight:500;
    
}
.right .sub-count{
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 34px;
    min-height: 200px;   
}
.right .right-info{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 24px 0;
}
.sub-count h3{
    font-size: 34px;
    font-weight: 500;
    color: gray;
    text-align: left;
}
.sub-count p{
    color:black;
    font-weight: 600;
    font-size: 34px;

}

.right > h4{
    margin-top: 8px;
        font-size: 24px;
        font-weight: 500;

}
/* centre section starts here  */
.center{
    min-width: 600px;
    padding: 22px;
    height: auto;
    margin: 0 20px;
    border-radius: 10px;
}
.card .card-img img{
    width:150px ;
    height: 140px;
    object-fit: contain;
}
.card{
    display: flex;
    align-items: center;
}
.card .card-content{
    padding: 12px;
    color:black;
    font-size: 24px;
    font-weight: 500;
}
 .card .card-content span{
color: rgb(150, 148, 148);
margin-right: 10px;
}
.center .pop-blogs h3{
    font-size: 24px;
}